.footer{
  background-color: #333;
  padding: 10rem 0;
  font-size: 1.2rem;
  color: #f7f7f7;
}

.footer_logo-box{
  text-align: center;
  margin-bottom: 8rem;
}

.footer_logo{
  width: 15rem;
  height: auto;
}

.footer_navigation{
  border-top: 1px solid #777;
  padding-top: 2rem;
  display: inline-block;
}

.footer_list{
  list-style: none;
}

.footer_item{
  display: inline-block;
}

.footer_item:not(:last-child){
  margin-right: 1.5rem;
}

.footer_link:link, .footer_links:visited{
  color: #f7f7f7;
  background-color: #333;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  transition: all .2s;
}

.footer_link:hover, .footer_link:active{
  color: #7ed56f;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .4);
  transform: rotate(5deg) scale(1.3);
}

.footer_copyright{
  border-top: 1px solid #777;
  padding-top: 2rem;
  width: 80%;
  float: right;
}