.form{

}

.form_group:not(:last-child){
  margin-bottom: 2rem;
}

.form_input{
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, .5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all .3s;
}

.form_input:focus{
  outline: none;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
  border-bottom: 3px solid #7ed56a;
}

.form_radio-input{
  display: none;
}

.form_input:focus:invalid{
  border-bottom: 3px solid #ff7730;
}

.form_input::-webkit-input-placeholder{
  color: #999;
}

.form_label{
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 1rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s;
}

.form_input:placeholder-shown + .form_label{
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.form_radio-group{
  width: 49%;
  display: inline-block;
}

.form_radio-label{
  font-size: 1.2rem;
  cursor: pointer;
  position: relative;
  padding-left: 3.5rem;
}

.form_radio-button{
  height: 2rem;
  width: 2rem;
  border: 5px solid #7ed56a;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -.1rem;
}
.form_radio-button::after{
  content: "";
  display: block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #7ed56a;
  opacity: 0;
  transition: opacity .2s;
}

.form_radio-input:checked ~ .form_radio-label .form_radio-button::after {
  opacity: 1;
}