.navigation{

}

.navigation_checkbox{
  display: none;
}

.navigation_button{
  background-color: #fff;
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, .1);
  text-align: center;
  cursor: pointer;
}

.navigation_background{
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
  position: fixed;
  top: 6rem;
  right: 6rem;
  background-image: radial-gradient(#7ed56f, #77ee55 );
  z-index: 1000;
  transition: transform .8s cubic-bezier(0.86, 0, 0.07, 1);

}

.navigation_nav{
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;

  opacity: 0;
  width: 0;
  transition: all .8s;
}

.navigation_list{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}

.navigation_item{
  margin: 1rem;
}


.navigation_link:link, .navigation_link:visited{
  display: inline-block;
  font-size: 2rem;
  font-weight: 300;
  padding: .3rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s;
}

.navigation_link:hover, .navigation_link:active{
  background-position: 100%;
  color: #77ee55;
  transform: translateX(1rem);
}

.navigation_link span{
  margin-right: 1rem;
  display: inline-block;
}

.navigation_checkbox:checked ~ .navigation_background{
  transform: scale(80);
}

.navigation_checkbox:checked ~ .navigation_nav{
  opacity: 1;
  width: 100%;
}

.navigation_icon{
  position: relative;
  margin-top: 2rem;
}

.navigation_icon, .navigation_icon::before, .navigation_icon::after{
  width: 2rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}

.navigation_icon::before, .navigation_icon::after{
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.navigation_icon::before{
  top: -.6rem;
}

.navigation_icon::after{
  top: .6rem;
}

.navigation_button:hover .navigation_icon::before{
  top: -.8rem;
}

.navigation_button:hover .navigation_icon::after{
  top: .8rem;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon {
  background-color: transparent;
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::before {
  top: 0;
  transform: rotate(135deg);
}

.navigation_checkbox:checked + .navigation_button .navigation_icon::after {
  top: 0;
  transform: rotate(-135deg);
}