.popup{
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, .8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup_content{
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, .2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(.25);
  display: table;
  overflow: hidden;
  opacity: 0;
  transition: all .4s .2s;
}

.popup_left{
  width: 33.333333%;
  display: table-cell;
}

.popup_right{
  width: 66.666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 1.5rem 2.5rem;
}

.popup_img{
  display: block;
  width: 100%;
}

.popup_text{
  font-size: 1.4rem;
  margin-bottom: 2rem;

  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;

  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.popup:target{
  opacity: 1;
  visibility: visible;
}

.popup_close{

}

.popup_close:link, .popup_close:visited{
  color: #777; 
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}

.popup_close:hover{
  color: #77ee55;
}

.popup:target .popup_content{
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}