*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10+ and Edge */
  user-select: none; /* Standard syntax */
}

body{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.header{
  height: 95vh;
  background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/mountains.jpg);
  background-size: cover;
  background-position: top;
  position: relative;
  -webkit-clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
  clip-path: polygon(0 0,100% 0, 100% 75vh, 0 100%);
}

.logo-box{
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo{
  height: 5rem;
}

.text-box{
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary{
  color: #fff;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 60px;
}

.heading-primary-main{
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-out;
}

.heading-primary-sub{
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;

  animation: moveInRight 3s ease-out;
}

/*Animation */
@keyframes moveInLeft{
  0%{
    opacity: 0;
    transform: translateX(-100px);
  }
  80%{
    transform: translateX(10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }

}

@keyframes moveInRight{
  0%{
    opacity: 0;
    transform: translateX(100px);
  }
  80%{
    transform: translateX(-10px);
  }

  100%{
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveInBottom{
  0%{
    opacity: 0;
    transform: translateY(30px);
  }
 
  100%{
    opacity: 1;
    transform: translate(0);
  }
}

.btn,
.btn:link,
.btn:visited{
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 60px;
  display: inline-block;
  border-radius: 100px;
  transition: all .2s;
  position: relative;
}

.btn:hover{
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, .2);
}

.btn:active{
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
}

.btn-white{
  background-color: #fff;
  color: #777;
}

.btn::after{
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-white::after{
  background-color: #fff;
}

.btn:hover::after{
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn-animated{
  animation: moveInBottom .5s ease-out .75s;
  animation-fill-mode: backwards;
}

.section-about{
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh;
}

.heading-secondary{
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 2px;
  transition: all .2s;
}

.heading-secondary:hover{
  transform: skewY(2deg) skewX(15deg) scale(1.1);
  text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .15);
}

.u-center-text{ text-align: center;}

.u-margin-bottom-small { margin-bottom: 1.5rem; }
.u-margin-bottom-medium { margin-bottom: 4rem; }
.u-margin-bottom-big { margin-bottom: 8rem; }

.heading-tertiary{
  font-size: 1.2rem;
  font-weight: 700;
  text-transform: uppercase;
  animation: moveInRight 3s ease-out;
}

.padding-8{
  padding: 8rem;
}

.paragraph{
  font-size: 1.2rem;
  animation: moveInLeft 3s ease-out;
}

.paragraph:not(:last-child){
  margin-bottom: 3rem;
}


.btn-text:link, .btn-text:visited{
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all .2s;
}

.btn-text:hover{
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgb(0, 0, 0, .15);
  transform: translateY(-2px);
}

.btn-text:active{
  box-shadow: 0 .5rem 1rem rgb(0, 0, 0, .15);
  transform: translateY(0);
}

.composition{
  position: relative;
  animation: moveInBottom 3s ease-out;
}

.composition_photo{
  width: 50%;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .4);
  border-radius: 2px;
  position: absolute;
  z-index: 10;
  transition: all .2s;
  outline-offset: 2rem;
}

.composition_photo--p1{
  left: 0;
  top: -2rem;
}
.composition_photo--p2{
  right: 0;
  top: 2rem;
}
.composition_photo--p3{
  left: 20%;
  top: 10rem;
}

.composition_photo:hover{
  outline: 1.2rem solid #7ed56f;
  transform: scale(1.05) translateY(-5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, .5);
  z-index: 20;
}

.composition:hover .composition_photo:not(:hover){
  transform: scale(.95);
}

/*Feature Section Starts*/
.section-features{
  padding: 20rem 0;
  background-image: linear-gradient(to right bottom,rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-4.jpg);
  background-size: cover;
  margin-top: -10rem;
  transform: skewY(-7deg);
}

.section-features > * {
  transform: skewY(7deg);
}

.feature-box{
  background-color: rgba(248, 248, 248, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
  transition: transform .3s;
}

.feature-box_icon{
  font-size: 6rem;
  margin-bottom: .5rem;
  display: inline-block;
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  color: transparent;
}

.feature-box:hover{
  transform: translateY(-1.5rem) scale(1.03);
}

/*Section Tours Css */
.section-tours {
  background-color: #f7f7f7;
  padding: 25rem 0 15rem 0;
  margin-top: -10rem;
}

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  height: 50rem;
}

.card_side{
  height: 50rem;
  transition: all .5s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .15);
}


.card_side--front{
  background-color: #fff;
}

.card_side--back{
  transform: rotateY(180deg);
}

.card_side--back-1{
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730);
}

.card_side--back-2{
  background-image: linear-gradient(to right bottom, #7ed56f, #28b485);
}

.card_side--back-3{
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa);
}

.card:hover .card_side--front {
  transform: rotateY(-180deg);
}

.card:hover .card_side--back {
  transform: rotateY(0);
}

.card_picture{
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

.card_picture--1{
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730), url(../img/nat-5.jpg);
}
.card_picture--2{
  background-image: linear-gradient(to right bottom, rgba(126, 213, 111, 0.8), rgba(40, 180, 133, 0.8)), url(../img/nat-6.jpg);
}
.card_picture--3{
  background-image: linear-gradient(to right bottom, #2998ff, #5643fa), url(../img/nat-7.jpg);
}

.card_heading{
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #fff;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.card_heading-span{
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.card_heading-span--1{
  background-image: linear-gradient(to right bottom, rgba(255, 185, 0, .85), rgba(255, 119, 48, .85));
}

.card_heading-span--2{
  background-image: linear-gradient(to right bottom, rgb(126, 213, 111, .85), rgb(40, 180, 133, .85));
}

.card_heading-span--3{
  background-image: linear-gradient(to right bottom, rgb(41, 152, 255, .85), rgb(86, 67, 250, .85));
}

.card_details{
  padding: 3rem;
}

.card_details>ul{
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.card_details>ul>li{
  text-align: center;
  font-size: 1.4rem;
  padding: 1rem;
}

.card_details>ul>li:not(:last-child){
   border-bottom: 1px solid #eee; 
}

/*Back Side of card css*/
.card_cta{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card_price-box{
  text-align: center;
  color: #fff;
  margin-bottom: 4rem;
}

.card_price-only{
  font-size: 1.4rem;
  text-transform: uppercase;

}
.card_price-value{
  font-size: 6rem;
  font-weight: 100;  
}

.margin-top-big{
  margin-top: 10rem;
}

.btn--green{
  background-color: #7ed56f;
  color: #fff;
}
.btn--green::after{
  background-color: #7ed56f;
}
.btn--green:hover{
  color: #fff;
}


/*Section Stories*/
.section-stories{
  padding: 15rem 0;
  position: relative;
}

.bg-video{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: .15;
  overflow: hidden;
}

.bg-video_content{
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.story{
  width: 75%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, .1);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  padding: 6rem;
  padding-left: 9rem;
  font-size: 1.6rem;
  transform: skewX(-12deg);
}


.story_shape{
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem) skewX(12deg);
  position: relative;
}

.story_image{
  height: 100%;
  transform: translateX(-4rem) scale(1.4);
  backface-visibility: hidden;
  transition: all .5s;
}

.story:hover .story_image{
  transform: translateX(-4rem) scale(1);
  filter: blur(3px) brightness(80%);
}

.story_text{
  transform: skewX(12deg);
}

.story_caption{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 20%);
  color: #fff;
  text-transform: uppercase;
  font-size: 1.7rem;
  text-align: center;
  opacity: 0;
  transition: all .5s;
  backface-visibility: hidden;
}

.story:hover .story_caption{
  opacity: 1;
  transform: translate(-50%, -50%);
}

/*section booking starts*/
.section-book{
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, #7ed56a, #7ed56e);
}

.book{
  background-image: linear-gradient(105deg ,rgba(255, 255, 255, .9) 0%, rgba(255, 255, 255, .9) 50%, transparent 50%), url(../img/nat-10.jpg);
  /* background-size: 100%; */
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, .2);
  
  height: 50rem;
}

.book_form{
  width: 50%;
  padding: 6rem;
}